
.comment {
    margin: 20px 0px 20px 20px;
}
.band-item {
    background-color: gray;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    text-align: center;
    color: white;
}
.buttonn {
text-align: center;
 padding: 5px 5px 5px 5px;
}

.chart {
    margin-top: 20px;
    margin-bottom: 20px;
}

.stars {
  background: #ffffff;
  height: 30px;
  width: 200px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.stars input{
  position: absolute;
  left: -99999px;
}

.stars label {
  width: 30px;
  height: 30px;
  padding: 5px;
  color: transparent;
}

.stars label::before {
  content: '★';
  color: #c0c0c0;
  font-size: 30px;
  line-height: 30px;
  margin-right: -100%;
}


.stars label:hover::before,
.stars label:hover ~ label::before,
.stars input:checked ~ label::before {
  color: #ffa500;
}

.starGray label{
color: #c0c0c0;
  font-size: 30px;

}
.starBold{
    color: #ffa500;
      font-size: 30px;

}

.backgroundimage{
     background-color: #efefef;

  background-repeat: no-repeat;
  background-position: top center;
  color: #000000;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 0;
}