{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<br>

<div class="card mb-4">
     <h5 class="card-header">Dodaj opinie o zespole <a href="{% url 'bandInformation' pk=band.pk %}">{{ band.bandName }}</a></h5>
    <img class="card-img-top" src="{% static 'images\band6.png' %}" alt="Card image cap">

    <div class="card-body">

        <form method="POST" class="post-form">{% csrf_token %}

            <div class="row" style="margin-left: auto;">
                <div class="col">
                    <h3>Muzyka/Aranż</h3>
                </div>
                <div class="col">
                    <div class="stars">
                        <input type="radio" id="star5" name="music" value="5">
                        <label for="star5"> </label>
                        <input type="radio" id="star4" name="music" value="4">
                        <label for="star4"> </label>
                        <input type="radio" id="star3" name="music" value="3">
                        <label for="star3"> </label>
                        <input type="radio" id="star2" name="music" value="2">
                        <label for="star2"> </label>
                        <input type="radio" id="star1" name="music" value="1">
                        <label for="star1"> </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-left: auto;">
                <div class="col">
                    <h3>Wokal</h3>
                </div>
                <div class="col">
                    <div class="stars">
                        <input type="radio" id="vocal5" name="vocal" value="5">
                        <label for="vocal5"> </label>
                        <input type="radio" id="vocal4" name="vocal" value="4">
                        <label for="vocal4"> </label>
                        <input type="radio" id="vocal3" name="vocal" value="3">
                        <label for="vocal3"> </label>
                        <input type="radio" id="vocal2" name="vocal" value="2">
                        <label for="vocal2"> </label>
                        <input type="radio" id="vocal" name="vocal" value="1">
                        <label for="vocal"> </label>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row" style="margin-left: auto;">
                <div class="col">
                    <h3>Ubiór sceniczny</h3>
                </div>
                <div class="col">
                    <div class="stars">
                        <input type="radio" id="scenicCostume5" name="scenicCostume" value="5">
                        <label for="scenicCostume5"> </label>
                        <input type="radio" id="scenicCostume4" name="scenicCostume" value="4">
                        <label for="scenicCostume4"> </label>
                        <input type="radio" id="scenicCostume3" name="scenicCostume" value="3">
                        <label for="scenicCostume3"> </label>
                        <input type="radio" id="scenicCostume2" name="scenicCostume" value="2">
                        <label for="scenicCostume2"> </label>
                        <input type="radio" id="scenicCostume1" name="scenicCostume" value="1">
                        <label for="scenicCostume1"> </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-left: auto;">
                <div class="col">
                    <h3>Zachowanie na scenie</h3>
                </div>
                <div class="col">
                    <div class="stars">
                        <input type="radio" id="behaviorOnTheStage5" name="behaviorOnTheStage" value="5">
                        <label for="behaviorOnTheStage5"> </label>
                        <input type="radio" id="behaviorOnTheStage4" name="behaviorOnTheStage" value="4">
                        <label for="behaviorOnTheStage4"> </label>
                        <input type="radio" id="behaviorOnTheStage3" name="behaviorOnTheStage" value="3">
                        <label for="behaviorOnTheStage3"> </label>
                        <input type="radio" id="behaviorOnTheStage2" name="behaviorOnTheStage" value="2">
                        <label for="behaviorOnTheStage2"> </label>
                        <input type="radio" id="behaviorOnTheStage1" name="behaviorOnTheStage" value="1">
                        <label for="behaviorOnTheStage1"> </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-left: auto;">
                <div class="col">
                    <h3>Kontakt z odbiorcą</h3>
                </div>
                <div class="col">
                    <div class="stars">
                        <input type="radio" id="contactWithAudience5" name="contactWithAudience" value="5">
                        <label for="contactWithAudience5"> </label>
                        <input type="radio" id="contactWithAudience4" name="contactWithAudience" value="4">
                        <label for="contactWithAudience4"> </label>
                        <input type="radio" id="contactWithAudience3" name="contactWithAudience" value="3">
                        <label for="contactWithAudience3"> </label>
                        <input type="radio" id="contactWithAudience2" name="contactWithAudience" value="2">
                        <label for="contactWithAudience2"> </label>
                        <input type="radio" id="contactWithAudience1" name="contactWithAudience" value="1">
                        <label for="contactWithAudience1"> </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-left: auto;">
                <div class="col">
                    <h3>Efekty wizualne</h3>
                </div>
                <div class="col">
                    <div class="stars">
                        <input type="radio" id="visualEfects5" name="visualEfects" value="5">
                        <label for="visualEfects5"> </label>
                        <input type="radio" id="visualEfects4" name="visualEfects" value="4">
                        <label for="visualEfects4"> </label>
                        <input type="radio" id="visualEfects3" name="visualEfects" value="3">
                        <label for="visualEfects3"> </label>
                        <input type="radio" id="visualEfects2" name="visualEfects" value="2">
                        <label for="visualEfects2"> </label>
                        <input type="radio" id="visualEfects1" name="visualEfects" value="1">
                        <label for="visualEfects1"> </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-left: auto;">
                <div class="col">
                    <h3>Kontakt z zespołem</h3>
                </div>
                <div class="col">
                    <div class="stars">
                        <input type="radio" id="contactWithBand5" name="contactWithBand" value="5">
                        <label for="contactWithBand5"> </label>
                        <input type="radio" id="contactWithBand4" name="contactWithBand" value="4">
                        <label for="contactWithBand4"> </label>
                        <input type="radio" id="contactWithBand3" name="contactWithBand" value="3">
                        <label for="contactWithBand3"> </label>
                        <input type="radio" id="contactWithBand2" name="contactWithBand" value="2">
                        <label for="contactWithBand2"> </label>
                        <input type="radio" id="contactWithBand1" name="contactWithBand" value="1">
                        <label for="contactWithBand1"> </label>
                    </div>
                </div>


            </div>

            <hr>
            <div class="row" style="margin-left: auto;">
                <div class="col">
                    <h3>Czy polecasz zespół?</h3>
                </div>
                <div class="col">
                    <div class="recommendation">

                        <label class="btn btn-success active">Polecam  <input type="radio" name="isRecommended" value="recommend" checked></label>
                        <label class="btn btn-danger">Nie polecam  <input type="radio" name="isRecommended" value="notRecommend" ></label>
                        <!--<img src="{% static 'images\recommend.png'%}" style='height: 15%; width: 15%; object-fit: contain'>-->
                        <!--<img src="{% static 'images\notRecommend.png'%}" style='height: 15%; width: 15%; object-fit: contain'>-->
                    </div>
                </div>
            </div>

            <hr>
            <h1>Dodaj komentarz</h1>
            {{ form|crispy }}
            <button type="submit" class="save btn btn-success">Dodaj</button>
        </form>
    </div>

</div>


{% endblock %}