{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}



</br>


<!-- Blog Post -->

<div class="card mb-4">
    <h5 class="card-header">Dodaj nowy zespół</h5>
    <!--<img class="card-img-top" src="{% static 'images\band6.png' %}" alt="Card image cap">-->

    <div class="card-body">
        <form method="POST" class="post-form">{% csrf_token %}

            {{ form|crispy }}
            <button type="submit" class="save btn btn-success">Dodaj zespół</button>
        </form>
    </div>
    <!--<div class="card-footer text-muted">-->
        <!--+-->

    <!--</div>-->
</div>

{% endblock %}

