{% extends 'base.html' %}
{% load static %}
{% block content %}
</br>
<div class="card mb-4">
    <div class="card-body">
        <div class="row" style="margin-left: auto;">
            <div class="col">
                <div class="post">
                    {% if band.created_date %}
                    <div class="date">
                        {{ band.created_date }}
                    </div>
                    {% endif %}
                    <h1>{{ band.bandName }}</h1>

                    <div style="padding-left:10%;">
                    {% if band.totalOpinion < 1%}
                    <div class="starGray"><label>★★★★★</label></div>
                    {% elif band.totalOpinion < 2%}
                    <div class="row">
                        <div class="starBold"><label>★</label></div>
                        <div class="starGray"><label>★★★★</label></div>
                    </div>
                    {% elif band.totalOpinion < 3%}
                    <div class="row">
                        <div class="starBold"><label>★★</label></div>
                        <div class="starGray"><label>★★★</label></div>
                    </div>
                    {% elif band.totalOpinion < 4%}
                    <div class="row">
                        <div class="starBold"><label>★★★</label></div>
                        <div class="starGray"><label>★★</label></div>
                    </div>
                    {% elif band.totalOpinion < 5%}
                    <div class="row">
                        <div class="starBold"><label>★★★★</label></div>
                        <div class="starGray"><label>★</label></div>
                    </div>
                    {% elif band.totalOpinion < 6%}
                    <div class="starBold"><label>★★★★★</label></div>
                    {%endif%}

                    </div>

                    <p>Gatunek muzyczny: {{ band.musicType|linebreaksbr }}
                    <p>Liczba członków: {{ band.bandMembers|linebreaksbr }}
                    <p>Kraj: {{ band.country|linebreaksbr }}
                    <p>Rejon: {{ band.voivodeship|linebreaksbr }}
                    <p>Miejscowość: {{ band.city|linebreaksbr }}
                    <p>Zdobyte punkty: {{ band.score|linebreaksbr }}
                        <!--<p>Średnia z wszystkich opinii: {{ band.totalOpinion|linebreaksbr }}-->
				    {% if user.is_authenticated %}
                    <p><a class="save btn btn-info" href="{% url 'addCommentToBand' pk=band.pk %}">Oceń zespół</a></p>
					{% endif %}
                </div>
            </div>
            <div class="col" style="max-width:55%;">

                <div class="col">
                    {% if band.recommended != 0 or band.notRecommended != 0 %}
                    <div id="container" style="height:300px; width=600px;"></div>
                    {% endif %}
                </div>
                <!--<div class="col">-->
                    <!--<img src="{% static 'images\band.png'%}" style='height: 100%; width: 100%; object-fit: contain'>-->
                <!--</div>-->

            </div>
        </div>
    </div>
</div>

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('container', {
        colors: ['#00FF00', '#FF0000'],
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'


    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
      credits: {
    enabled: false
  },


    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                    fontSize:'13px'

                }
            }
        }
    },

        series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: 'Poleca',
            y: {{ band.recommended }}
        }, {

            name: 'Nie poleca',
            y: {{ band.notRecommended }},

        }]
    }]
    });



</script>
<!--========================= stars ==================================================&ndash;&gt;-->
<div class="card mb-4">
    <div class="card-body">
        <div class="row" style="margin-left: auto;">
            <div class="col" >
                <h3>Muzyka/Aranż</h3>
            </div>
            <div class="col" style=" position: absolute; left: 75%; top:4%; margin:auto;">
                {% if averages.0 < 1%}
                <div class="starGray" style="margin:auto;"><label>★★★★★</label></div>
                {% elif averages.0 < 2%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★</label></div>
                    <div class="starGray"><label>★★★★</label></div>
                </div>
                {% elif averages.0 < 3%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★</label></div>
                    <div class="starGray"><label>★★★</label></div>
                </div>
                {% elif averages.0 < 4%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★★</label></div>
                    <div class="starGray"><label>★★</label></div>
                </div>
                {% elif averages.0 < 5%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★★★</label></div>
                    <div class="starGray"><label>★</label></div>
                </div>
                {% elif averages.0 < 6%}
                <div class="starBold" style="margin:auto;"><label>★★★★★</label></div>
                {%endif%}
            </div>
        </div>


        <div class="row" style="margin-left: auto;">
            <div class="col">
                <h3>Wokal</h3>
            </div>
            <div class="col" style="position: absolute; left: 75%; top:17%;">
                {% if averages.1 < 1%}
                <div class="starGray" style="margin:auto;"><label>★★★★★</label></div>
                {% elif averages.1 < 2%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★</label></div>
                    <div class="starGray"><label>★★★★</label></div>
                </div>
                {% elif averages.1 < 3%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★</label></div>
                    <div class="starGray"><label>★★★</label></div>
                </div>
                {% elif averages.1 < 4%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★★</label></div>
                    <div class="starGray"><label>★★</label></div>
                </div>
                {% elif averages.1 < 5%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★★★</label></div>
                    <div class="starGray"><label>★</label></div>
                </div>
                {% elif averages.1 < 6%}
                <div class="starBold" style="margin:auto;"><label>★★★★★</label></div>
                {%endif%}
            </div>
        </div>


        <div class="row" style="margin-left: auto;">
            <div class="col">
                <h3>Ubiór sceniczny</h3>
            </div>
            <div class="col" style="position: absolute; left: 75%; top:30%;">
                {% if averages.2 < 1%}
                <div class="starGray" style="margin:auto;"><label>★★★★★</label></div>
                {% elif averages.2 < 2%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★</label></div>
                    <div class="starGray"><label>★★★★</label></div>
                </div>
                {% elif averages.2 < 3%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★</label></div>
                    <div class="starGray"><label>★★★</label></div>
                </div>
                {% elif averages.2 < 4%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★★</label></div>
                    <div class="starGray"><label>★★</label></div>
                </div>
                {% elif averages.2 < 5%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★★★</label></div>
                    <div class="starGray"><label>★</label></div>
                </div>
                {% elif averages.2 < 6%}
                <div class="starBold" style="margin:auto;"><label>★★★★★</label></div>
                {%endif%}
            </div>
        </div>


        <div class="row" style="margin-left: auto;">
            <div class="col">
                <h3>Zachowanie na scenie</h3>
            </div>
            <div class="col" style="position: absolute; left: 75%; top:43%;">
                {% if averages.3 < 1%}
                <div class="starGray" style="margin:auto;"><label>★★★★★</label></div>
                {% elif averages.3 < 2%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★</label></div>
                    <div class="starGray"><label>★★★★</label></div>
                </div>
                {% elif averages.3 < 3%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★</label></div>
                    <div class="starGray"><label>★★★</label></div>
                </div>
                {% elif averages.3 < 4%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★★</label></div>
                    <div class="starGray"><label>★★</label></div>
                </div>
                {% elif averages.3 < 5%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★★★</label></div>
                    <div class="starGray"><label>★</label></div>
                </div>
                {% elif averages.3 < 6%}
                <div class="starBold" style="margin:auto;"><label>★★★★★</label></div>
                {%endif%}
            </div>
        </div>


        <div class="row" style="margin-left: auto;">
            <div class="col">
                <h3>Kontakt z odbiorcą</h3>
            </div>
            <div class="col" style="position: absolute; left: 75%; top:56%;">
                {% if averages.4 < 1%}
                <div class="starGray" style="margin:auto;"><label>★★★★★</label></div>
                {% elif averages.4 < 2%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★</label></div>
                    <div class="starGray"><label>★★★★</label></div>
                </div>
                {% elif averages.4 < 3%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★</label></div>
                    <div class="starGray"><label>★★★</label></div>
                </div>
                {% elif averages.4 < 4%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★★</label></div>
                    <div class="starGray"><label>★★</label></div>
                </div>
                {% elif averages.4 < 5%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★★★</label></div>
                    <div class="starGray"><label>★</label></div>
                </div>
                {% elif averages.4 < 6%}
                <div class="starBold" style="margin:auto;"><label>★★★★★</label></div>
                {%endif%}
            </div>
        </div>


        <div class="row" style="margin-left: auto;">
            <div class="col">
                <h3>Efekty wizualne</h3>
            </div>
            <div class="col" style="position: absolute; left: 75%; top:68%;">
                {% if averages.5 < 1%}
                <div class="starGray" style="margin:auto;"><label>★★★★★</label></div>
                {% elif averages.5 < 2%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★</label></div>
                    <div class="starGray"><label>★★★★</label></div>
                </div>
                {% elif averages.5 < 3%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★</label></div>
                    <div class="starGray"><label>★★★</label></div>
                </div>
                {% elif averages.5 < 4%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★★</label></div>
                    <div class="starGray"><label>★★</label></div>
                </div>
                {% elif averages.5 < 5%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★★★</label></div>
                    <div class="starGray"><label>★</label></div>
                </div>
                {% elif averages.5 < 6%}
                <div class="starBold" style="margin:auto;"><label>★★★★★</label></div>
                {%endif%}
            </div>
        </div>

        <div class="row" style="margin-left: auto;">
            <div class="col">
                <h3>Kontakt z zespołem</h3>
            </div>
            <div class="col" style="position: absolute; left: 75%; top:80%;">
                {% if averages.6 < 1%}
                <div class="starGray" style="margin:auto;"><label>★★★★★</label></div>
                {% elif averages.6 < 2%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★</label></div>
                    <div class="starGray"><label>★★★★</label></div>
                </div>
                {% elif averages.6 < 3%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★</label></div>
                    <div class="starGray"><label>★★★</label></div>
                </div>
                {% elif averages.6 < 4%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★★</label></div>
                    <div class="starGray"><label>★★</label></div>
                </div>
                {% elif averages.6 < 5%}
                <div class="row" style="margin:auto;">
                    <div class="starBold"><label>★★★★</label></div>
                    <div class="starGray"><label>★</label></div>
                </div>
                {% elif averages.6 < 6%}
                <div class="starBold" style="margin:auto;"><label>★★★★★</label></div>
                {%endif%}
            </div>
        </div>

    </div>
</div>

<!--=============================================== stars ==================================================-->




<div class="card mb-4">
    <div class="card-body">

{% for comment in band.comments.all %}
<div class="comment">
    <div class="date">{{ comment.created_date }}</div>
    <strong>{{ comment.author }}</strong>
    <p>{{ comment.text|linebreaks }}</p>
</div>

<hr>
{% empty %}
<p>Bądź pierwszą osobą i oceń zespół</p>
{% endfor %}

    </div>
</div>
{% endblock %}



