<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BandWeb</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/blog-home.css'%}" rel="stylesheet">
    <link href="{% static 'css/stars_and_comments.css'%}" rel="stylesheet">
    <!--<link href="{% static 'css/stars.css'%}" rel="stylesheet">-->


</head>

<body class="backgroundimage";>


<img class="card-img-top" src="{% static 'images\band7.jpg' %}" alt="Card image cap">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container " >
	
	
	<h1 class="display-4" >
		<a class="nav-link" href="/" style="color:white">BandWeb
			<span class="sr-only">(current)</span>
		</a>
	</h1>
	
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
			

				
				{% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/add_band">Dodaj zespół</a>
                </li>
				{% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/ranking">Ranking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Szukaj</a>
                </li>
				
				{% if user.is_authenticated %}
				<li class="nav-item">
                    <a class="nav-link">Zalogowany jako: {{ user.username }}</a>
                </li>
				
				<li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Wyloguj się</a>
                </li>
				
				<!-- <li class="nav-item">
					<a class="nav-link" href="{% url 'password_reset' %}">Resetuj hasło</a>
                </li> -->
				
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Zaloguj się</a>
                </li>
				{% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container" >

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            {% block content %}


            {% endblock %}
            <!--<h1 class="my-4">Page Heading-->
            <!--<small>Secondary Text</small>-->
            <!--</h1>-->

            <!--&lt;!&ndash; Blog Post &ndash;&gt;-->
            <!--<div class="card mb-4">-->
            <!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
            <!--<div class="card-body">-->
            <!--<h2 class="card-title">Post Title</h2>-->
            <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>-->
            <!--<a href="#" class="btn btn-primary">Read More &rarr;</a>-->
            <!--</div>-->
            <!--<div class="card-footer text-muted">-->
            <!--Posted on January 1, 2017 by-->
            <!--<a href="#">Start Bootstrap</a>-->
            <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Blog Post &ndash;&gt;-->
            <!--<div class="card mb-4">-->
            <!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
            <!--<div class="card-body">-->
            <!--<h2 class="card-title">Post Title</h2>-->
            <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>-->
            <!--<a href="#" class="btn btn-primary">Read More &rarr;</a>-->
            <!--</div>-->
            <!--<div class="card-footer text-muted">-->
            <!--Posted on January 1, 2017 by-->
            <!--<a href="#">Start Bootstrap</a>-->
            <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Blog Post &ndash;&gt;-->
            <!--<div class="card mb-4">-->
            <!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
            <!--<div class="card-body">-->
            <!--<h2 class="card-title">Post Title</h2>-->
            <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>-->
            <!--<a href="#" class="btn btn-primary">Read More &rarr;</a>-->
            <!--</div>-->
            <!--<div class="card-footer text-muted">-->
            <!--Posted on January 1, 2017 by-->
            <!--<a href="#">Start Bootstrap</a>-->
            <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Pagination &ndash;&gt;-->
            <!--<ul class="pagination justify-content-center mb-4">-->
            <!--<li class="page-item">-->
            <!--<a class="page-link" href="#">&larr; Older</a>-->
            <!--</li>-->
            <!--<li class="page-item disabled">-->
            <!--<a class="page-link" href="#">Newer &rarr;</a>-->
            <!--</li>-->
            <!--</ul>-->

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <!--<div class="card my-4">-->
                <!--<h5 class="card-header">Search</h5>-->
                <!--<div class="card-body">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="Search for...">-->
                        <!--<span class="input-group-btn">-->
                  <!--<button class="btn btn-secondary" type="button">Go!</button>-->
                <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Ostatnio dodane</h5>
                <div class="card-body">
                    <!--<div class="row">-->

                    <!--<div class="col-lg-6">-->
                    <ul class="list-unstyled mb-0">


                        {% for band in lastAdded %}
                        <div class="post">
                            <div class="date">
                                {{ band.created_date }}
                            </div>

                            <li>
                                <a href="{% url 'bandInformation' pk=band.pk %}">{{ band.bandName }} </a>
                            </li>
                            <hr/>
                        </div>
                        {% endfor %}

                    </ul>
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Ostatnio oceniane</h5>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">


                        {% for band in lastCommented %}
                        <div class="post">
                            <div class="date">
                                {{ band.created_date }}
                            </div>
                            <li>
                                <a href="{% url 'bandInformation' pk=band.pk %}">{{ band.bandName }} </a>
                            </li>
                            <hr/>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Prawa autorskie &copy; JanuszSoft 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>


<!--{% load static %}-->
<!--<html lang="en">-->
<!--<head>-->

<!--<title>Title</title>-->
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
<!--&lt;!&ndash;<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">&ndash;&gt;-->
<!--<link rel="stylesheet" href="{% static 'css/stars_and_comments.css' %}">-->


<!--</head>-->
<!--<body style="background-color:#F0F0F0;">-->
<!--<div class="page-header">-->
<!--&lt;!&ndash;<a href="{% url 'add_band' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>&ndash;&gt;-->
<!--<h1><a href="/">Home</a></h1>-->
<!--</div>-->
<!--<div class="content container">-->
<!--<div class="row">-->
<!--&lt;!&ndash;<div class="col-md-8">&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->