{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="card my-4" >
    <h5 class="card-header">TOP 3</h5>
    <div class="card-body">
        <div class="row" >

            <div class="col" style="width:34%; margin-top:3%">
                <h3 class="my-2">{{topBands.1.bandName}}</h3>
                <div class="col">
                    {% if topBands.1.totalOpinion < 1%}
                    <div class="starGray"><label>★★★★★</label></div>
                    {% elif topBands.1.totalOpinion < 2%}
                    <div class="row">
                        <div class="starBold"><label>★</label></div>
                        <div class="starGray"><label>★★★★</label></div>
                    </div>
                    {% elif topBands.1.totalOpinion < 3%}
                    <div class="row">
                        <div class="starBold"><label>★★</label></div>
                        <div class="starGray"><label>★★★</label></div>
                    </div>
                    {% elif topBands.1.totalOpinion < 4%}
                    <div class="row">
                        <div class="starBold"><label>★★★</label></div>
                        <div class="starGray"><label>★★</label></div>
                    </div>
                    {% elif topBands.1.totalOpinion < 5%}
                    <div class="row">
                        <div class="starBold"><label>★★★★</label></div>
                        <div class="starGray"><label>★</label></div>
                    </div>
                    {% elif topBands.1.totalOpinion < 6%}
                    <div class="starBold"><label>★★★★★</label></div>
                    {%endif%}
                </div>
                Ilość ocen: {{ topBands.1.comments.count }}
                </br>
                <img src="{% static 'images\recommend.png'%}" style='height: 30%; width: 30%; object-fit: contain'>
                {{topBands.1.recommended}}
                <img src="{% static 'images\notRecommend.png'%}" style='height: 30%; width: 30%; object-fit: contain'>
                {{topBands.1.notRecommended}}

            </div>


            <div class="col" style="width:34%;">
                <h3 class="my-2">{{topBands.0.bandName}}</h3>
                <div class="col">
                    {% if topBands.0.totalOpinion < 1%}
                    <div class="starGray"><label>★★★★★</label></div>
                    {% elif topBands.0.totalOpinion < 2%}
                    <div class="row">
                        <div class="starBold"><label>★</label></div>
                        <div class="starGray"><label>★★★★</label></div>
                    </div>
                    {% elif topBands.0.totalOpinion < 3%}
                    <div class="row">
                        <div class="starBold"><label>★★</label></div>
                        <div class="starGray"><label>★★★</label></div>
                    </div>
                    {% elif topBands.0.totalOpinion < 4%}
                    <div class="row">
                        <div class="starBold"><label>★★★</label></div>
                        <div class="starGray"><label>★★</label></div>
                    </div>
                    {% elif topBands.0.totalOpinion < 5%}
                    <div class="row">
                        <div class="starBold"><label>★★★★</label></div>
                        <div class="starGray"><label>★</label></div>
                    </div>
                    {% elif topBands.0.totalOpinion < 6%}
                    <div class="starBold"><label>★★★★★</label></div>
                    {%endif%}
                </div>
                Ilość ocen: {{ topBands.0.comments.count }}
                </br>
                <img src="{% static 'images\recommend.png'%}" style='height: 30%; width: 30%; object-fit: contain'>
                {{topBands.0.recommended}}
                <img src="{% static 'images\notRecommend.png'%}" style='height: 30%; width: 30%; object-fit: contain'>
                {{topBands.0.notRecommended}}

            </div>


            <div class="col" style=" width:34%; margin-top:6%">
                <h3 class="my-2">{{topBands.2.bandName}}</h3>
                <div class="col">
                    {% if topBands.2.totalOpinion < 1%}
                    <div class="starGray"><label>★★★★★</label></div>
                    {% elif topBands.2.totalOpinion < 2%}
                    <div class="row">
                        <div class="starBold"><label>★</label></div>
                        <div class="starGray"><label>★★★★</label></div>
                    </div>
                    {% elif topBands.2.totalOpinion < 3%}
                    <div class="row">
                        <div class="starBold"><label>★★</label></div>
                        <div class="starGray"><label>★★★</label></div>
                    </div>
                    {% elif topBands.2.totalOpinion < 4%}
                    <div class="row">
                        <div class="starBold"><label>★★★</label></div>
                        <div class="starGray"><label>★★</label></div>
                    </div>
                    {% elif topBands.2.totalOpinion < 5%}
                    <div class="row">
                        <div class="starBold"><label>★★★★</label></div>
                        <div class="starGray"><label>★</label></div>
                    </div>
                    {% elif topBands.2.totalOpinion < 6%}
                    <div class="starBold"><label>★★★★★</label></div>
                    {%endif%}
                </div>
                Ilość ocen: {{ topBands.2.comments.count }}
                </br>
                <img src="{% static 'images\recommend.png'%}" style='height: 30%; width: 30%; object-fit: contain'>
                {{topBands.2.recommended}}
                <img src="{% static 'images\notRecommend.png'%}" style='height: 30%; width: 30%; object-fit: contain'>
                {{topBands.2.notRecommended}}

            </div>



        </div>

    </div>

</div>
<div class="card my-4">

    <div class="card-body">


        <div id="container" class="chart"></div>

    </div>
</div>

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: ''
      },
      credits: {
    enabled: false
  },
      xAxis: {
          categories: [
            {% for entry in newBands %}'{{ entry.bandName }} '{% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      },
      yAxis: {
            title: {
                text: 'Ilość łapek'
            }
        },
      series: [{
          name: 'Poleca',
          data: [
            {% for entry in newBands %}{{ entry.recommended }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'green'
      }, {
          name: 'Nie poleca',
          data: [
            {% for entry in newBands %}{{ entry.notRecommended }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'red'
      },

      ]
  });

</script>

{% endblock %}

