{% extends 'base.html' %}

{% block content %}
<h1 class="my-4">Ranking</h1>
<hr>
{% for band in ranking %}

<a href="{% url 'bandInformation' pk=band.pk %}">
    <div class="card mb-1">

        <div class="card-body">
            <!--<div class="row">-->
            <div class="row" style="margin:auto;">
                <div style="width:80%;">
                    <label style="font-size:30px;">{{ band.bandName }}</label>
                </div>

                <!--<div style="float:right;margin:auto;">-->
                    {% if band.totalOpinion < 1%}
                        <div class="starGray" ><label >★★★★★</label></div>
                    {% elif band.totalOpinion < 2%}
                        <div class="starBold"><label>★</label></div>
                        <div class="starGray"><label>★★★★</label></div>
                    {% elif band.totalOpinion < 3%}
                        <div class="starBold"><label>★★</label></div>
                        <div class="starGray"><label>★★★</label></div>
                    {% elif band.totalOpinion < 4%}
                        <div class="starBold"><label>★★★</label></div>
                        <div class="starGray"><label>★★</label></div>
                    {% elif band.totalOpinion < 5%}
                        <div class="starBold"><label>★★★★</label></div>
                        <div class="starGray"><label>★</label></div>
                    {% elif band.totalOpinion < 6%}
                        <div class="starBold"><label>★★★★★</label></div>
                    {%endif%}

                <!--</div>-->


            </div>

            <!--</div>-->

        </div>

    </div>
</a>
{% endfor %}
{% endblock %}

