{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>

<div class="card mb-4">
    <h5 class="card-header">Szukaj zespołu</h5>
    <div class="card-body">
        <form method="get" class="post-form">
            {{ filter.form|crispy }}
            <button type="submit" class="save btn btn-info">Szukaj</button>
        </form>
    </div>
</div>

</br>

{% for band in filter.qs %}
</br>
<a href="{% url 'bandInformation' pk=band.pk %}">
    <button type="submit" class="save btn btn-info btn-block">{{ band.bandName }}<br>
        Ilosc komentarzy: {{ band.comments.count }}
    </button>

    <hr>
</a>

{% endfor %}

</ul>
{% endblock %}



