{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}



</br>


<!-- Blog Post -->

<div class="card mb-4">
    <h5 class="card-header">Logowanie</h5>
    <!--<img class="card-img-top" src="{% static 'images\band6.png' %}" alt="Card image cap">-->

    <div class="card-body">
        <form method="POST" class="post-form">{% csrf_token %}
  {% csrf_token %}
  {{ form.as_p }}
	<button type="submit" class="save btn btn-success">Login</button>
        </form>
    </div>
	
	<div class="card-body">
		<p><a class="save btn btn-info" href="{% url 'signup' %}">Załóż konto</a></p>
	</div>
	
    <!--<div class="card-footer text-muted">-->
        <!--+-->

    <!--</div>-->
</div>

{% endblock %}