{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}



</br>


<!-- Blog Post -->

<div class="card mb-4">
    <h5 class="card-header">Email wysłany</h5>

    <div class="card-body">
 <p>Prześlemy Ci e-mailem instrukcje dotyczące ustawiania hasła. Wkrótce otrzymasz wiadomość e-mail!</p>
    </div>
</div>

{% endblock %}