{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}



</br>

<!-- Blog Post -->

<div class="card mb-4">
    <h5 class="card-header">Resetowanie hasła zakończone</h5>
	<p>Twoje nowe hasło zostało ustawione. Możesz zalogować się teraz na <a href="{% url 'login' %}">strona logowania</a>.</p>
</div>

{% endblock %}