{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}



</br>


<!-- Blog Post -->

<div class="card mb-4">
    <h5 class="card-header">Zapomniałeś hasła?</h5>

    <div class="card-body">
 <p>Wpisz swój adres e-mail poniżej, a prześlemy Ci e-mailem instrukcje dotyczące ustawienia nowego.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Wyślij mi instrukcje!">
  </form>
    </div>
</div>

{% endblock %}
