{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}



</br>


<!-- Blog Post -->

<div class="card mb-4">
    <h5 class="card-header">Zakładanie konta</h5>
    <!--<img class="card-img-top" src="{% static 'images\band6.png' %}" alt="Card image cap">-->

    <div class="card-body">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
   <button type="submit" class="save btn btn-success">Załóż konto</button>
        </form>
</div>
</div>
{% endblock %}